* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative; /* Make the container a positioning context */
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    background-color: rgb(9, 9, 58);
    color: white;
}

#btn {
    position: absolute;
    top: 3%;
    transform: translateY(50%);
    right: 20px;
    color: rgb(182, 141, 64);
    border-radius: 50px;
}
